
@import 'media-query-blog.css';

@font-face {
    font-family: 'MontserratItalic';
    src: url('Montserrat-MediumItalic.ttf') format('truetype');
}

body {
    margin: 0;
}

.return a{
  text-decoration: none;
  font-family: "Montserrat";
  font-size:14px;
  color: #000;
  font-weight:800;
}

.links-header {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat";
    /* margin-top:1%; */
}

.split-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 75%;
    height: 100%;
    background-color: #ffffff;
    z-index: -100;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header {
    grid-area: a;
    background-color: #000;
}

.return{
  text-align: center;
  margin-top:30px;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
